
*{
    margin: 0;
    padding:0;
    border:none;
   
}
html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}
.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.page-header, .page-footer {
    flex-grow: 0;
    flex-shrink: 0;
}
.page-body {
    flex-grow: 1;
    padding: 20px;
    background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%),
                          linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%),
                          linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
                          radial-gradient(gray 2px, transparent 0);
    background-size: 30px 30px, 30px 30px;

    border: 1px solid black;
}

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 1.5rem;
}

#imageCycle {
    width: 150px;
}

/* --------- Game layout */

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: fit-content;
    
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    font-size: 1.5rem;
    
}

#instruction-area {
    width: 90%;
    font-size: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    background-color:inherit;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

#wins {
    color: green;
    font-weight: bold;
}

#loses {
    color: red;
    font-weight: bold;
}

#draws {
    color: orange;
    font-weight: bold;
}

#message {
    display: inline;
    color: black;
}

#message-selection {
    display: inline;
    color: black;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/* --------- Buttons */

.btn {
    width: 140px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    display: flex;
}

.btn--big {
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--big::after{
    content: attr(data-type);
    font-size: 1rem;
    color: #445361;
    position: relative;
    left: -0.5em;
}

.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--orange {
    border-color: orange;
    color: orange;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--gold {
    border-color:gold;
    color: gold;
}

.button {
    border-radius: 30%;
}
.button:hover {
    background-color: cyan;
}

/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
        display:flex;
        justify-content:space-evenly;
        background-color:inherit;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }

}